body {
	background-color: lightgray;
	margin: auto;
	max-width: 800px;
	font-size: 1.4em;
	line-height: 1.5em;
	padding: 0 10px;
}

.menu {
	max-width: 100%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 .25em 0 0;
    padding: 0;
    display: inline;
}

.footer {
    display: flex;
    justify-content: center;
}