body {
	background-color: lightgrey;
	margin: auto;
	border-top-style: solid;
	border-top-width: 20px;
	border-top-color: coral;
	max-width: 800px;
	font-size: 1.4em;
	line-height: 1.5em;
	padding: 0 10px;
}

.footer {
    display: flex;
    justify-content: center;
}

img #runbsd {
    width: 33%;
}